@import url(null.css);

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.main{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

[class*="__wrap"]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
}

img{
    max-width: 100%;
}

/***************************************************************/

/* Start styles index.html */
/* Start styles header */
.header{
    position: fixed;
    background: #fff;
    width: 100%;
    opacity: .9;
    z-index: 100;
}
.header__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo-pic{
    max-height: 120px;
}

.menu__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu__item{
    margin-left: 40px;
}
.menu__link{
    font-size: 24px;
    color: rgb(100, 91, 91);
    font-weight: 700;
}
.menu__link:hover, .menu__link:focus, .menu__link:active{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: rgb(22, 22, 22);
    text-decoration: underline;
}

.menu__list-phone{
    margin-left: 60px;
}
.menu__item-phone{
    margin-bottom: 20px;
}
.menu__item-phone:last-child{
    margin-bottom: 0px;
}

/* End styles header */

/* Start styles burger-menu */
.hamburger-menu{
    display: none;
  }
  
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 40px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #555454;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__item2 {
    display: block;
    padding: 20px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item2:hover, .menu__item2:active, .menu__item2:focus {
    background-color: #5f5f5f;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__box {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__item2 {
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
/* End styles burger-menu */

/* Start styles main */
/* Start styles intro */

.intro{
    min-height: 100vh;
    background: url(../img/Main_page-bg-min.jpg) no-repeat center;
    background-size: cover;
}

.intro__info{
    padding-top: 350px;
}
.intro__info-block{
    padding: 50px;
    background: #fff;
    opacity: .4;
    font-size: 24px;
    max-width: 300px;
}

/* End styles intro */

/* Start styles aboutUs */

.aboutUs__wrap{
    padding: 70px 100px;
}
.title{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: rgb(78, 70, 70);
    margin-bottom: 20px;
    line-height: 30px;
}
.subtitle{
    font-size: 20px;
    line-height: 30px;
    color: rgb(128, 123, 123);
    text-indent: 30px;
}

/* End styles aboutUs */
/* End styles main */

/* Start styles footer */

.footer{
    background: rgb(20, 20, 20);
    padding: 50px 0px 20px;
}

.footer__container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr,3);
    grid-template-columns: repeat(3,1fr);
}

.footer__title{
    color: rgb(82, 77, 77);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
    text-decoration: underline;
}
.footer__item{
    margin-bottom: 10px;
}
.footer__item:last-child{
    margin-bottom: 0px;
}
.footer__link{
    font-size: 20px;
    color: rgb(100, 91, 91);
    font-weight: 700;
}
.footer__link:hover, .footer__link:focus, .footer__link:active{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: rgb(158, 157, 157);
    text-decoration: underline;
}

.footer__info{
  margin-top: 30px;
  padding-top: 10px;
  color: rgb(153, 150, 150);
  text-align: center;
  border-top: 1px solid rgb(153, 150, 150);
}
.footer__info a{
  color: rgb(185, 185, 185);
}
.footer__info a:hover{
  color: rgb(218, 214, 214);
  padding: 10px;
}

/* End styles footer */
/* End styles index.html */

/***************************************************************/

/* Start styles Ceny uslug */
/* Start styles intro-Ceny-uslug */

.intro-Ceny-uslug{
    min-height: 100vh;
    background: url(../img/Ceny-uslug-bg-min.jpg) no-repeat bottom;
    background-size: cover;
}

/* Start styles intro-Ceny-uslug */

.ceny__wrap{
    padding: 70px 100px;
}

.ceny__table{
    line-height: 30px;
    font-size: 20px;
    color: rgb(128, 123, 123);
    border: 2px solid rgb(78, 70, 70);
    border-collapse: collapse;
}
.ceny__td{
    padding: 10px;
    border: 2px solid rgb(78, 70, 70);
}
.ceny__caption{
  caption-side: bottom;
  color: rgb(20, 20, 20);
  font-size: 16px;
}
th{
  border: 2px solid rgb(78, 70, 70);
}

/* End styles Ceny uslug */

/***************************************************************/

/* Start styles Galeria */

.intro-Galeria{
    min-height: 100vh;
    background: url(../img/Galeria-bg-min.jpg) no-repeat center;
    background-size: cover;
}

/* Start styles gallery */

section.gallery{
    position: relative;
    padding: 45px 0;
  }
  h2.gallery__title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
  }
  h2.gallery__title:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #111111;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .gallery-list{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
    margin-top: 30px;
  }
  .gallery-item{
    display: block;
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    overflow: hidden;
    position: relative;
    margin: 3px;
    
  }
  .gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    z-index: 2;
  }
  .gallery-item:hover .gallery-item-hover{
    opacity: 1;
  }
  .gallery-item:hover img{
    -webkit-transform: scale(1.3) rotate(5deg);
        -ms-transform: scale(1.3) rotate(5deg);
            transform: scale(1.3) rotate(5deg);
  }
  .gallery-item img{
    max-width: 100%;
    height: auto;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  @media (max-width: 991px){
    .gallery-item{
      -webkit-box-flex: 33.3%;
          -ms-flex: 33.3%;
              flex: 33.3%;
    }
  }
  @media (max-width: 768px){
    .gallery-item{
      -webkit-box-flex: 50%;
          -ms-flex: 50%;
              flex: 50%;
    }
  }
  @media (max-width: 530px){
    .gallery-item{
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
    }
  }

/* End styles gallery */
/* End styles Galeria */

/***************************************************************/

/* Start styles Kontakt */
/* Start styles intro-Kontakt */

.intro-Kontakt{
    min-height: 100vh;
    background: url(../img/Kontakt-bg-min.jpg) no-repeat bottom;
    background-size: cover;
}

/* End styles intro-Kontakt */

.kontakt-block__wrap{
    padding: 70px 100px;
}

.kontakt-block__link{
    font-size: 24px;
    line-height: 50px;
    color: rgb(128, 123, 123);
    text-decoration: underline;
    font-weight: bold;
}
.title2{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 30px;
    font-weight: 600;
}
.kontakt-block__wrap .subtitle{
    margin-bottom: 20px;
}
.kontakt-block__wrap .subtitle:last-child{
    margin-bottom: 0px;
}

/* End styles Kontakt */

/***************************************************************/

/* Start styles media */

@media (max-width: 1000px){
    .menu__item{
        margin-left: 25px;
    }
    .menu__link{
        font-size: 20px;
    }
    .menu__list-phone{
        margin-left: 40px;
    }
}
@media (max-width: 780px){
    .hamburger-menu{
        display: block;
      }
      .header__menu{
        display: none;
      }
    
    .intro__info{
        padding-top: 450px;
    }
    .intro__info-block{
        padding: 15px;
        font-size: 20px;
        max-width: 250px;
    }

    .aboutUs__wrap{
        padding: 40px;
    }
    .title{
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 34px;
    }
    .subtitle{
        font-size: 18px;
        line-height: 30px;
        text-indent: 30px;
    }
    /*****/
    .ceny__wrap{
        padding: 40px;
    }
    /*****/
}
@media (max-width:500px){
    .aboutUs__wrap{
        padding: 20px;
    }

    .subtitle{
        font-size: 18px;
        line-height: 28px;
        text-indent: 20px;
    }

    .footer__wrap{
        padding-left: 80px;
    }
    .footer__container{
        -ms-grid-columns: (1fr,1);
        grid-template-columns: repeat(1,1fr);
    }
    .footer__row{
        margin-bottom: 20px;
    }
    .footer__row:last-child{
        margin-bottom: 0px;
    }
    /*****/
    .ceny__wrap{
        padding: 20px;
    }
    
    .ceny__table{
        line-height: 20px;
        font-size: 16px;
    }
    /*****/
    .kontakt-block__wrap{
        padding: 40px;
    }
    
    .kontakt-block__link{
        font-size: 18px;
        line-height: 20px;
    }
    /*****/
}

/* End styles media */